*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    margin: 2rem;
    border: 2px solid black;
    height: auto;
    border-radius: 12px;
    padding: 2rem 15rem;
}

nav{
    font-size: 4.5rem;
    text-align: center;
    margin-left: -7rem;
}

header div{
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem 0;
    color: #A5A5A5;
    margin-left: -7rem;
}

.body-container{
    display: flex;
    align-content: space-evenly;
    gap: 3rem;
    /* padding: 0 2rem; */
}

.dates{
    font-size: 1.3rem;
    margin: 1rem 0;
    color: #A5A5A5;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 4rem;
    /* align-items: center; */
}

.v-line {
  width: 2px;
  height: 27rem;
  background-color: black;
  margin-bottom: 2rem;
}

.circle{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    /* justify-content: center; */
    align-items: center;
}

.circle i:first-child{
    margin-top: 4rem;
}


.details{
    font-size: 1.3rem;
    margin: 1rem 0;
    color: #1E1E1E;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 4rem;
/* align-items: center; */
}

a{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    margin-left: 11rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 4rem;
}